*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,*::after{
    margin: 0;
    padding: 0;
}
body{   
    width: 1440px;
    height: 1489px;
    margin-bottom: 50px;
 }
.container{
     width: 1440px;
    height: 1489px;
    background: #FAFAFA;   
}
.title1{
   position: absolute;
   top:110px;
   left: 243px;
   color: #000;
   font-family: PT Serif;
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   letter-spacing: -1.62px;
}
.title2{
   width: 140px;
   position: absolute;
   top:110px;
   left: 736px;
   right: 587px;
   color: #000;
   font-family: Poppins;
   font-size: 18px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
}
p{
   width: 439px;
   height: 87px;
   position: absolute;
   top: 147px;
   left: 736px;
   color: #000;
   font-family: Poppins;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.image1{
   width: 238px;
   height: 426.496px;
   position: absolute;
   top: 244.5px;
   left: 240px;
}
.image1 > img{
   padding-top: 85px;
   width: 238px;
   height: 426.496px;
}
.productowner{
   position: absolute;
   top: 376px;
   left: 433px;
   transform: rotate(90deg);
   margin-left: 10px;
}
.billmahoney{
   position: absolute;
   top: 686px;
   left: 240px;
}
.image2{
   width: 276.684px;
   height: 469px;
   position: absolute;
   top: 760px;
   left: 241px;
}
.image2 > img{
   width: 276.684px;
   padding-top: 85px;
   padding-right: 40px;
   padding-bottom: 43px;
}
.skylahlu{
   /* border: 1px solid gray; */
   width: 90px;
   height: 30px;
   position: absolute;
   top:1201px;
   left: 241px;
   bottom: 261px;
   right: 1113px;
}
.uxdesigner{
   position: relative;
   top: 845px;
   left: 478px;
   writing-mode: vertical-lr;  
}
.image3{
   width: 305.213px;
   height: 471px;
   /* border: 1px solid rebeccapurple; */
   position: absolute;
   top: 396px;
   left: 534.64px;
   /* right: 600.15px */
}
.image3 >  img{
   width: 305.213px;
   padding-top: 33px;
   padding-right: 31px;
   padding-bottom: 91px;
   padding-left: 36px;
}
.sabacabrera{
   width: 140px;
   height: 30px;
   position: absolute;
   top: 791px;
   left: 571px;
   right: 741px;
   bottom: 671px;
}
.artdirector{
   width: 20px;
   height: 100px;
   position: absolute;
   top: 429px;
   left: 819px;
   writing-mode: vertical-lr;
}
.image4{
   width: 274.361px;
   height: 360px;
   position: absolute;
   top: 944px;
   left: 534.64px;
   bottom: 185px;
}
.image4 > img{
   width: 274.361px;
   padding-left: 36px;
   padding-bottom: 13px;
}
.griffrichards{
   position: absolute;
   top: 1306px;
   left: 571px;
   bottom: 156px;
   right: 745px;
}
.developer{
   position: relative;
   top: 937px;
   left: 792px;
   right: 605px;
   writing-mode: vertical-lr;
}
.image5{
   width: 300.806px;
   height: 399.963px;
   position: absolute;
   top: 330px;
   left: 863.54px;
}
.image5> img{
   width: 300.806px;
   padding-left: 37px;
   padding-right: 25px;
   padding-bottom: 59px;

}
.shaele{
   width: 90px;
   height: 30px;
   position: absolute;
   top: 686px;
   left: 901px;
   bottom: 776px;
   right: 469px;
}
.techlead{
   width: 20px;
   height: 100px;
   /* border: 1px solid gray; */
   position: absolute;
   top: 333px;
   left: 1146px;
   right: 275px;
   writing-mode: vertical-lr;
}
.image6{
   width: 335.75px;
   height: 449px;
   /* border: 1px solid rebeccapurple; */
   position: absolute;
   top: 796px;
   left: 864.69px;
   right: 239.56px;
}
.image6 > img{
   width: 335.75px;
   padding-top: 49px;
   padding-right: 61px;
   padding-bottom: 59px;
   padding-left: 37px;
}
.stanjohn{
   /* border: 1px solid gray; */
   width: 100px;
   height: 30px;
   position: absolute;
   top: 1201px;
   right: 446px;
   bottom: 261px;
   left: 902px;
}
.deverloper{
   position: absolute;
   top: 845px;
   left: 1149px;
   right: 275px;
   bottom: 568px;
   writing-mode: vertical-lr;
 
}
.author{
   color: #000;
   font-family: Poppins;
   font-size: 18px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}
.role{
   color: #000;
   font-family: PT Serif;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-transform: uppercase;
 }
.writernote{
   width: 350px;
   height: 25px;
   position: absolute;
   top: 1448px;
   left: 547px;
   color: #A9A9A9;
   text-align: center;
   font-family: Montserrat;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}
.username{
   color: #A9A9A9;
   font-family: Montserrat;
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-decoration-line: underline;
}
@media only screen and (max-width:375px){
   
   
   body{
      width: 375px;
      height: 1409px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
   .container{
      /* width: 375px; */
      width: 100%;
      height: 1409px;
      border: 1px solid gray;
      /* margin: 0; */
       /* background: orchid; */
   }
   .title1{
      position: absolute;
      top:71px;
      left: 12px;
      right: 85px;
   }
   .title2{
      position: absolute;
      top: 156px;
      left: 12px;
      right: 246px;
   }
   p{
      position: absolute;
      width: 333px;
      height: 87px;
      top: 193px;
      left: 12px;
      right: 30px;
      bottom: 1129px;
      font-size: 14px;
   }
   .role{
      font-size: 10px;
   }
   .author{
      font-size: 14px;
   }
   .image1{
      width: 138.719px;
      height: 261.401px;
      position: absolute;
      top: 265.6px;
      left: 19px;
      border: 1px soild rebeccapurple;
   }
   .image1 >  img{
      width: 138.719px;
      height: 261.401px;
      padding-top: 52px;
   }
   .productowner{
      position: absolute;
      top: 361px;
      left: 114px;
   }
   .billmahoney{
      position: absolute;
      top: 537px;
      left: 19px;
   }
   .image3{
      width: 177.417px;
      height: 283.686px;
      /* border: 1px solid rebeccapurple; */
      position: absolute;
      top: 346.12px;
      left: 180.52px;
      right: 17.07px;
      /* right: 600.15px */
   }
   .image3 >  img{
      width: 177.417px;
      padding-top: 20px;
      padding-right: 18px;
      padding-bottom: 55px;
      padding-left: 21px;
   }
   .artdirector{
      width: 20px;
      height: 100px;
      position: absolute;
      top: 366px;
      left: 347px;
      /* border:1px solid gray; */
      writing-mode: vertical-lr;
   }

   .sabacabrera{
      /* border: 1px solid gray; */
      width: 140px;
      height: 30px;
      position: absolute;
      top: 575px;
      left: 200px;
      right: 34px;
      bottom: 806px;
   }
  
   .image5{
      width: 175.681px;
      height: 257.383px;
      position: absolute;
      top: 619px;
      left: 2.88px;
      right: 202.2px;
      /* border: 1px solid rebeccapurple; */
   }
   .image5> img{
      width: 175.681px;
      padding-left: 22px;
      padding-right: 15px;
      padding-bottom: 38px;
   
   }
   .techlead{
      width: 20px;
      height: 100px;
      /* border: 1px solid gray; */
      position: absolute;
      top: 619px;
      left: 164px;
      right: 202px;
      writing-mode: vertical-lr;
   }
   .shaele{
      width: 90px;
      height: 30px;
      position: absolute;
      top: 826px;
      left: 20px;
      bottom: 543px;
      right: 244px;
   }
   .image2{
      width: 162.274px;
      height: 303.214px;
      /* border: 1px solid rebeccapurple; */
      position: absolute;
      top: 612px;
      left: 200px;
      right: 12.73px;
   }
   .image2 > img{
      width: 162.274px;
      padding-top: 55px;
      padding-right: 23px;
      padding-bottom: 28px;
   }
   .uxdesigner{
      position: relative;
      top: 667px;
      left: 344px;
      writing-mode: vertical-lr;  
   }
   .skylahlu{
      /* border: 1px solid gray; */
      width: 90px;
      height: 30px;
      position: absolute;
      top:878px;
      left: 200px;
      bottom: 494px;
      right: 66px;
   }
   .image4{
      width: 160.236px;
      height: 234.467px;
      /* border: 1px solid rebeccapurple; */
      position: absolute;
      top: 930px;
      left: 2.24px;
      bottom: 244.53px;
   }
   .image4 > img{
      width: 160.236px;
      padding-left: 21px;
      padding-bottom: 8.5px;
   }
   .developer{
      position: relative;
      top: 920px;
      left: 148px;
      right: 202px;
      writing-mode: vertical-lr;
   }
   .griffrichards{
      position: absolute;
      width: 150px;
      top: 1142px;
      left: 19px;
      bottom: 218px;
      right: 259px;
   }
   .image6{
      width: 197.419px;
      height: 289.677px;
      /* border: 1px solid rebeccapurple; */
      position: absolute;
      top: 947.39px;
      left: 179.06px;
      right: 1.48px;
      bottom: 171.94px;
   }
   .image6 > img{
      width: 197.419px;
      padding-top: 32px;
      padding-right: 36px;
      padding-bottom: 38px;
      padding-left: 22px;
   }
   .deverloper{
      position: absolute;
      top: 979px;
      left: 346px;
      right: 275px;
      bottom: 367px;
      writing-mode: vertical-lr;    
   }
   .stanjohn{
      width: 100px;
      height: 30px;
      position: absolute;
      top: 1213px;
      right: 103px;
      bottom: 175px;
      left: 200px;
   }
   .writernote{
      width: 290px;
      height: 25px;
      position: absolute;
      top: 1368px;
      left: 46px;
      right: 42px;
      bottom: 24px;
      color: #A9A9A9;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }
}
